body {
    font-family: Tahma;
    font-size:13px;
    margin: 0px auto;
    background-color:  black;
    
}
#menu_top{
    background-color:rgba(113, 23, 0, 0.952);
    height: 40px;
}
#banner{
    
    
    height: 300px;
}
#main #left{
   
   
    float: left;
    min-height:400px;
}
#main #right{
    width:200px;
    
    float: left;
    min-height: 400px;
}
#footer{
    
    
    text-align: center;
    height: 60px;
    clear: left;
}
#menu_top ul li{
    list-style:none ;
    float: left;
}
#menu_top ul li a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    color: coral;
    padding: 0px 20px 0px 20px ;
    border-right: 1px solid darkmagenta;
}
#menu_top ul li a.active{
    
}
#menu_top ul li a.logo{
    background-color:white;
}